<!DOCTYPE html>
<html lang="PT-BR">
  <%- include('partials/header') %> 
<body>
  <%- include('partials/navbar') %> 
  <div class="container">
    <h1><%= pergunta.titulo %> </h1>
    <h6><%= pergunta.descricao %> </h6>
    <hr>
    <form method="POST" action="/responder">
      <h3>Responda</h3>
      <br>
      <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
      <br>
      <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
      <button class="btn btn-dark">Responder</button>
    </form>
    <br>
    <h2>Respostas</h2>
    <% respostas.forEach((resposta) => { %>
      <br>
      <div class="card">
        <div class="card-body">
          <p><%= resposta.corpo %> </p>
        </div>
      </div>
    <% }) %> 
  </div>
  <%- include('partials/footer') %> 
</body>
</html>